<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
<!--        <property name="connection.url">jdbc:postgresql://localhost:5432/Personal_Assistant</property>-->
<!--        <property name="connection.username">postgres</property>-->
<!--        <property name="connection.password">oxitxmq5q2</property>-->
        <property name="connection.url">jdbc:postgresql://ec2-54-229-68-88.eu-west-1.compute.amazonaws.com:5432/ddi4roethmsoaa
        </property>
        <property name="connection.username">imhrplpunrjesn</property>
        <property name="connection.password">b23cf1524c08cc02f2d62ce652e73abfc838512af8d523c018dde2a4ee322278</property>
        <property name="hibernate.default_schema">public</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
    </session-factory>
</hibernate-configuration>

